@model List<DataAccess.ViewModel.admin.AdminPasswordResetView>

<div class="w-100 my-5">
    @if (TempData["message"] != null || TempData["error"] != null)
    {
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@TempData["message"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["error"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    @if (Model != null && Model.Count != 0)
    {
        <h2>All Request</h2>

        @for (int i=0; i<Model.Count; i++)
        {
            <div class="card my-2">
                <h5 class="card-header">Request</h5>
                <div class="card-body">
                    <p>Password Requested Time @Model[i].RequestedTime</p>
                    <p>Requested User: @Model[i].Email</p>
                    <form method="post" asp-action="ApprovedPasswordPendingRequest" style="display: inline;">
                        <input name="Id" type="hidden" asp-for="@Model[i].Id" />
                        <input name="DefaultPassword" type="text" class="my-2" asp-for="@Model[i].DefaultPassword" value="@Model[i].DefaultPassword" placeholder="Enter default Password" /> <br />
                        
                        <button type="submit" class="btn btn-success mr-1">Accept</button>
                    </form>
                    <form method="post" asp-action="RejectPasswordPendingRequest" style="display: inline;">
                        <input name="Id" type="hidden" asp-for="@Model[i].Id" value="@Model[i].Id" />
                        <button type="submit" class="btn btn-danger mr-1">Reject</button>
                    </form>
                </div>
            </div>
        }
    }
</div>
